.link {
  fill: none;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}
.graph-div {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}
.control-box {
  min-width: 130px;
  max-width: 300px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: left;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

